<% include partials/header %>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-area-chart"></i> Area Chart Example</div>
    <div class="card-body">
      <div class='col-md-12'>
        <div class='table-responsive'>
          <table class='table' id='Table'>
            <thread>
              <tr>
                <th>Primeiro Nome</th>
                <th>Morada</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Função</th>
              </tr>
            </thread>
            <tbody>
              <% for (var u of kpiDados) { %>
                <tr>
                    <td><a href='/admin/<%= u.idKPI %>'><%= u.time %></a></td>
                    <td><%= u.uptime %></td>
                    <td><%= u.totalClients %></td>
                    <td><%= u.activeCliens %></td>
                    <td><%= u.messages %></td>
                </tr>
                <% } %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Bar Chart Example</div>
        <div class="card-body">
          <canvas id="myBar" width="100" height="50"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Example Pie Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Pie Chart Example</div>
        <div class="card-body">
          <div id="chart_div" style="width:400; height:300"></div>
        </div>
        <div onclick="searchchart();" class="btn btn-outline-success justify-content-center">Ver condições atuais</div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © WFDAI 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Example DataTables Card-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body">
      <div class="table-responsive">


        
   
        <script type="text/javascript">
          var dataSet = [
          [ "", "", "", "", "", "" ]

      ];
       
      $(document).ready(function() {
          $('#example').DataTable( {
              data: dataSet,
              columns: [
                  { title: "Time" },
                  { title: "Uptime" },
                  { title: "Total Clientes" },
                  { title: "Mensagens" },
                  { title: "Load 5min" },
                  { title: "Load 15min" }
              ]
          } )
          client.connect({
        onSuccess: onConnect
    });
      } );
        // Create a client instance
client = new Paho.MQTT.Client("34.243.203.139", 8080, "clientId");

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
//client.connect({onSuccess:onConnect});

var cheese;
var mutated = false;
function searchchart() {
//$("#searchbtn").click(function () {
    document.getElementById("searchbtn").style.pointerEvents = 'none';
    setTimeout(function () {
        document.getElementById("searchbtn").style.pointerEvents = 'auto';
    }, 1500);
    console.log("sea");
    if (mutated == true) {

        client.disconnect();

        mutated = false;
    }
    mutated = true;
    cheese = $('#combobox').find(":selected").text();
    client.connect({
        onSuccess: onConnect
    });

    mutated = true;


};

// called when the client connects
function onConnect() {
    // Once a connection has been made, make a subscription and send a message.
    console.log("onConnect");
    client.subscribe("/kpi");
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
        console.log("onConnectionLost:" + responseObject.errorMessage);

    }
}

// called when a message arrives
function onMessageArrived(message) {
    var obj = JSON.parse(message.payloadString);
    obj.measurements[0].series.$_time;


    // init array data
    var obj = JSON.parse(message.payloadString);
    console.log("onMessageArrived:" + message.payloadString);
    var dataSet = obj.measurements[0].series.Uptime;
    var tempo = document.getElementById("time").innerHTML = obj.measurements[0].series.$_time;
   

    /*document.getElementById("time").innerHTML = obj.measurements[0].series.$_time;
    document.getElementById("uptime").innerHTML = obj.measurements[0].series.Uptime[0];
    document.getElementById("Temperatura").innerHTML = obj.measurements[0].series.Temperatura[0];
    document.getElementById("Pressao").innerHTML = obj.measurements[0].series.Pressao[0];
    document.getElementById("Humidade").innerHTML = obj.measurements[0].series.Humidade[0];
    document.getElementById("Visibilidade").innerHTML = obj.measurements[0].series.Visibilidade[0];
    document.getElementById("NascerSol").innerHTML = obj.measurements[0].series.NascerSol[0];
    document.getElementById("PorSol").innerHTML = obj.measurements[0].series.PorSol[0];
    document.getElementById("ts").innerHTML = obj.measurements[0].ts;*/

    function drawChart() {
        // create DataTable
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'time');
        data.addColumn('number', 'uptime');

        // load data
        for (var i = 0; i < time.length; i++) {
            var row = [i, time[i], suseptible[i]];
            data.addRow(row);
        }

        var options = {};

        var chart = new google.visualization.LineChart(document.getElementById('chartid'));
        chart.draw(data, options);
    }




}




      </script>



        <table id="example" class="display" width="100%"></table>

      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../public/admin/vendor/jquery/jquery.min.js"></script>
  <script src="../public/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../public/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="../public/admin/vendor/chart.js/Chart.min.js"></script>
  <script src="../public/admin/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../public/admin/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="../public/admin/js/sb-admin.min.js"></script>
  <!-- Custom scripts for this page-->
  <script src="../public/admin/js/sb-admin-datatables.min.js"></script>
  <script src="../public/admin/js/sb-admin-charts.min.js"></script>
  </div>
  </body>

  </html>