<% include admin/partials/headerempresa %>

	<% if (errors.length) { %>
		<div class="alert alert-danger">
			<ul>
				<% for (var e of errors) { %>
					<li>
						<%= e.msg %>
					</li>
					<% }%>
			</ul>
		</div>
		<% } %>

			<form style="width:50%; margin: 0 auto;" action="/users/empresareg" method="post">
				<div class="form-group">
					<label for="Nome">Nome:</label>
					<input pattern="[a-zA-Z0-9À-ž\s]{3,20}$" style="height:25px" type="text" class="form-control" id="Nome" placeholder="Insira o seu Nome" name="Nome" value="<%= user.Nome %>">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input style="height:25px" type="password" class="form-control" id="Password" placeholder="Enter password" name="Password" value="<%= user.Password %>">
				</div>
				<div class="form-group">
					<label for="Email">Email:</label>
					<input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" style="height:25px" type="email" class="form-control" id="type" placeholder="Email" name="Email" value="<%= user.Email %>">
				</div>
				<div class="form-group">
					<label for="NIF">NIF</label>
					<input style="height:25px" type="text" placeholder="NIF" class="form-control" id="NIF" name="NIF" value="<%= user.NIF %>">
				</div>
				<div class="form-group">
					<label for="Contacto">Contacto:</label>
					<input style="height:25px" type="tel" placeholder="Número de telemóvel" class="form-control" id="Contacto" name="Contacto"
					    value="<%= user.Contacto %>">
				</div>
				<div class="form-group">
					<label for="Morada">Morada:</label>
					<input style="height:25px" type="text" placeholder="Morada" class="form-control" id="Morada" name="Morada" value="<%= user.Morada %>">
				</div>

				<div class="form-group">
					<label for="preco">Preço por mês:</label>
					<input style="height:25px" type="text" placeholder="100€" class="form-control" id="preco" name="preco" disabled>
				</div>
				<div class="form-group">
					<label for="Tema">Tema:</label>
					<select>
						<option value="Original">Original</option>
						<option value="Preto">Preto</option>
					</select>
				</div>


				<button type="submit" class="btn btn-success">Subscrever</button>

			</form>



			<% include admin/partials/footer %>