<% include partials/headerforms %>
<!-- Pagina a apresentar -->

<div class="forecast-header" style="font-size:22px; height: 70%">
		<h2>Registar </h2>
		<a style="color: grey;"> Subscritor</a>
			<a style="color: black;">/</a>
			<a href="/registarempresa">Empresa</a>
		</div> 
			
<% if (errors.length) { %>  
	<div class="alert alert-danger">
		<ul>
		<% for (var e of errors) { %>
			<li><%= e.msg %></li>
		<% }%>
		</ul>
	</div>	
<% } %>

	<form action="/registar" method="post">
		<div class="form-group">
      <label for="Nome">Nome:</label>
      <input type="text" class="form-control" id="Nome" placeholder="Insira o seu Nome" name="Nome" value="<%= user.Nome %>" >
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="pwd" class="form-control" id="password" placeholder="Enter password" name="password" value="<%= user.password %>">
    </div>
		<div class="form-group">
      <label for="Email">Email:</label>
      <input type="email" class="form-control" id="type" placeholder="Email" name="Email"  value="<%= user.Email %>" >
    </div>
    <div class="form-group">
			<label for="NIF">NIF</label>
			<input type="text" placeholder="NIF" class="form-control" id="NIF" name="NIF" value="<%= user.NIF %>">
		</div>	
		<div class="form-group">
			 <label for="Contacto">Contacto:</label>
			 <input type="tel" placeholder="Número de telemóvel" class="form-control" id="Contacto" name="Contacto" value="<%= user.Contacto %>">
		</div>	
		<div class="form-group">
				<label for="Morada">Morada:</label>
				<input type="text" placeholder="Morada" class="form-control" id="Morada" name="Morada" value="<%= user.Morada %>">
		</div>
		<div class="form-group">
				<label for="preco">Preço por mês:</label>
				<input type="text" placeholder="10€" class="form-control" id="preco" name="preco" disabled>
		</div>

		
    <button type="submit" class="btn btn-success">Subscrever</button>
		
  </form> 

<% include partials/footerforms %>