<% include partials/header %>

  <!-- Pagina a apresentar -->

  <% if (errors.length) { %>
    <div class="alert alert-danger">
      <ul>
        <% for (var e of errors) { %>
          <li>
            <%= e.msg %>
          </li>
          <% }%>
      </ul>
    </div>
    <% } %>
      <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <div class="ui-widget justify-content-ter">

              <form class="form-inline justify-content-r " id="form">
                <script>
                  $(document).ready(function () {
                    $('select').selectpicker();
                    $('input').addClass(' form-control input-lg text-ter text-xs-cer');
                    $('li').addClass(' list-group');
                    $('.selectpicker').selectpicker();
                  })
                  $(".selectpicker").change(function () {
                    alert("Handler for .change() called. .selectpicker");
                  });
                </script>


  <div id="container"></div>

          
              <br>
              </div>


              <div class="card" id="weathercard" style="width: 40%;">
                <span class="city">Meteorologia</span>
                <br>
                <br>
                <br>
                <br>
                <!--<div class="sun"></div> -->
                <span class="temp" id="Temperatura"> &#176; </span>

                <div class="forecast clear">
                  <div class="day tue">
                    <i class="fas fa-tachometer-alt" id="Pressao"></i> hPa
                    <br>
                    <i class="fas fa-tint" id="Humidade"></i> %
                    <br>
                  </div>
                  <div class="day wed">
                    <i class="far fa-compass" id="DirecaoVento"></i>
                    <br>
                    <i class="fas fa-eye" id="Visibilidade"></i> Km
                    <br>
                  </div>
                  <div class="day thu">
                    <i class="far fa-sun" id="NascerSol"></i>
                    <br>
                    <i class="fas fa-sun" id="PorSol"></i>
                  </div>
                  <div class="day fri">
                    <i class="far fa-clock" id="ts"> </i>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display:none; font-size:26px;">
                  <div class="card-body">
                    <h5 class="card-title" style="color:black;">Meteorologia</h5>
                    <div class="card-text" style="color:black;">
                      <i class="far fa-compass" id="DirecaoVento"></i>
                      <br>
                      <i class="fas fa-angle-double-right" id="VelocidadeVento"></i> Kmh
                      <br>
                      <i class="fas fa-thermometer-half" id="Temperatura"></i> ºC
                      <br>
                      <i class="fas fa-tachometer-alt" id="Pressao"></i> hPa
                      <br>
                      <i class="fas fa-tint" id="Humidade"></i> %
                      <br>
                      <i class="fas fa-eye" id="Visibilidade"></i> Km
                      <br>
                      <i class="far fa-sun" id="NascerSol"></i>
                      <br>
                      <i class="fas fa-sun" id="PorSol"></i>
                      <i class="far fa-clock" id="ts"> </i>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="bg-light">
        <h1>Dados Pessoais</h1>
        <p></p>
       <center> <button id="editarbtn" onclick="editarDados()">Editar</button> </center>
        <div class="container" id>


          <div class="panel-body" id="editardados" style="display:none">

            <form align="center" style="width: 50%; margin: 0 auto;" action="/users/update_user" method="post">
              <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="Nome" placeholder="Insira o seu Nome" name="Nome" value="<%= user.Nome %>">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="pwd" class="form-control" id="password" placeholder="Enter password" name="password" value="<%= user.password %>">
              </div>
              <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="type" placeholder="Email" name="Email" value="<%= user.Email %>" disabled>
              </div>
              <div class="form-group">
                <label for="NIF">NIF:</label>
                <input type="text" placeholder="NIF" class="form-control" id="NIF" name="NIF" value="<%= user.NIF %>">
              </div>
              <div class="form-group">
                <label for="Contacto">Contacto:</label>
                <input type="tel" placeholder="Número de telemóvel" class="form-control" id="Contacto" name="Contacto" value="<%= user.Contacto %>">
              </div>
              <div class="form-group">
                <label for="Morada">Morada:</label>
                <input type="text" placeholder="Morada" class="form-control" id="Morada" name="Morada" value="<%= user.Morada %>">
              </div>



              <button type="submit" class="btn btn-success">Atualizar</button>

            </form>

          </div>
        </div>
        </div>

      </section>
      <section>
        <h1>Notificações</h1>
        <p></p>
        <form>
          <div action="/users/create_preferencia" style="margin:20px; width:30%; height:30%; margin-left:auto; margin-right:auto" class="ui-widget justify-contenter">
            <br>
            <select id="combobox" class="selectpicker form-control mr-sm-2 justify-content-cer selectpicker" data-live-search="true"
              type="text" form="form">
              <option value="">Selecione um...</option>
              <% include partials/listalocalidades %>

            </select>

            <br>
            <br>  

            <center>
              <button type="submit" style="margin: 0 auto;" class="btn btn-success">Adicionar Localização</button>
            </center>

            Temperatura Maxima:
            <input type="number" max="50" min="-40" placeholder="Temp. Max" class="form-control" value=""> Temperatura Minima:
            <input type="number" max="50" min="-40" placeholder="Temp. Min" class="form-control" value="">
          </div>
        </form>






      </section>
      </div>

      <% include partials/footer %>